<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctorPersona">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorPersona">
        <activity android:name=".CreateNewPatientActivity"></activity>
        <activity
            android:name=".DoctorAppointmentActivity"
            android:label="Doctor Appointment Setup"></activity>
        <activity
            android:name=".PatientRecordActivity"
            android:label="Patient Record" />
        <activity
            android:name=".PatientPrescriptionActivity"
            android:label="Prescription" />
        <activity
            android:name=".AppointmentActivity"
            android:label="Appointment" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity
            android:name=".PatientDash"
            android:label="@string/title_activity_patient_dash" />
        <activity
            android:name=".DoctorDash"
            android:label="@string/title_activity_doctor_dash" />
        <activity
            android:name=".PatientLoginActivity"
            android:label="Patient Login" />
        <activity
            android:name=".DoctorLoginActivity"
            android:label="Doctor Login" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".CalendarActivity"
            android:label="Calendar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>